version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: taskdb
    ports:
      - "5438:5432"

  api:
    build: .
    depends_on:
      - postgres
    environment:
      ENV_PATH: .env.local
    command: ["/usr/local/bin/entrypoint.sh"]
    ports:
      - "3000:3000"

volumes:
  postgres_data:
