name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install deps
      run: npm install

    - name: Run Lint
      run: npm run lint

    - name: Run Tests
      run: npm run test

    - name: Build App
      run: npm run build

    - name: Build Docker Image
      run: docker build -t nestjs-task-manager .

    - name: Upload Artifacts (optional)
      uses: actions/upload-artifact@v3
      with:
        name: dist
        path: dist
